:root {
    --main-orange: #eb8100;

    /* #43aadd */
    --main-light-blue: #43aadd;

    /* #003868 */
    --main-dark-blue: #003868;


    --main-light-blue-hover: #2c82ad;
    --main-gray: #f6f6f6;
}