.label,
.eyeIcon,
.profile {
  color: #fff;
}
.container :global(.vtex-button) {
  border: none;
  height: 100%;
}
.container :global(.vtex-button):hover {
  background-color: transparent;
}
.container :global(.vtex-button__label .flex) {
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  color: #fff !important;
}
.container :global(.vtex-button__label) {
  flex-direction: column;
  align-items: center;
}

.label {
  font-size: 14px;
  text-transform: initial;
  padding: 0;
}

.label:hover {
  background-color: transparent;
}

.container :global(.vtex-button__label) {
  padding: 0 !important;
}

.profile {
  color: #fff !important;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 9ch;
  word-break: break-all;
  overflow-wrap: break-word;
  font-size: 16px;
  padding-top: 9px;
}

.label {
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
}
.label::before {
  content: "";
  width: 24px;
  height: 30px;
  display: flex;
  background: url(assets/icons/user.png) center;
  background-size: cover;
}

@media (max-width: 768px) {
  .label {
    font-size: 10px;
    gap: 0;
  }

  .label::before {
    background-size: 20px 23px;
    background-repeat: no-repeat;
  }
}
